<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create Location</title>
<meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	
	<div class="container">
	<h2>Create location</h2>  
		<form th:action="@{/saveLocation}" th:object="${location}" method="post">
			<br/>
			<div class="form-group" style="width:30%">
				<label for="id">Id:</label>
				<input type="text" th:field="*{id}" class="form-control"/>
			</div>			
			<div class="form-group" style="width:30%">
				<label for="code">Code:</label>
				<input type="text" th:field="*{code}" class="form-control"/>
			</div>
			<div class="form-group" style="width:30%">
				<label for="name">Name:</label>
				<input type="text" th:field="*{name}" class="form-control"/>
			</div>
			<div class="form-group" style="width:30%">
				<p>Type:</p> 
				<label for="urban">Urban:</label>
				<input type="radio" th:field="*{type}" th:value="${'URBAN'}" id="urban"/>
				<label for="rural">Rural:</label>
				<input type="radio" th:field="*{type}" th:value="${'RURAL'}" id="rural"/>
			</div>      
			<div class="form-group">
				<input type="submit" value="save" class="btn btn-success btn-send"/>
			</div>
		</form>
		<a href="displayLocations" class="btn btn-info" role="button" align="center">View all</a>
	</div>
	<div class="alert alert-success" th:if="${msg != null}" >
  		<strong th:text="${msg}"></strong>
	</div>
</body>
</html>