<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All locations</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2>Locations</h2>          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="location: ${locations}">
        <td th:text="${location.id}"></td>
        <td th:text="${location.code}"></td>
        <td th:text="${location.name}"></td>
        <td th:text="${location.type}"></td>
        <td><a th:href="@{/deleteLocation(id=${location.id})}" class="btn btn-danger" role="button" align="center">Delete</a></td>
        <td><a th:href="@{/updateLocation(id=${location.id})}" class="btn btn-primary" role="button" align="center">Edit</a></td>
      </tr>
    </tbody>
  </table>
  <a href="showCreate" class="btn btn-info" role="button" align="center">Add location</a>
</div>
<div class="alert alert-success" th:if="${msg != null}" >
  	<strong th:text="${msg}"></strong>
</div>
</body>
</html>